* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #08376B;
    background: #C4CED9;
    line-height: 1.6;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styling */
header {
    background: #08376B;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    background: #35C0ED;
}

nav ul li {
    padding: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #08376B;
}

nav ul li a.active {
    color: #007bff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0056b3;
    background-color: #eef;
    transition: background-color 0.3s, color 0.3s;
}

/* Hero Section */
.hero-section {
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.hero-section img {
	border-radius: 5px;
	max-width: 50%;
}


.main-content {
    padding: 20px;
    text-align: center;
}

.content-section {
    background-color: #fff;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.donation-intro {
    background-color: #e7e7e7;
}

.donation-intro h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.donation-intro p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.why-donate h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.benefits p{
	text-align: left;
}

.donation-form-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.donation-form-section p {
	margin-bottom: 25px;
}

.form#donation-form {
    display: column;
    grid-gap: 20px;
}

form#donation-form fieldset {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border: none;
    padding: 0;
}

.payment-options {
	grid-column: 1/5;
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

form#donation-form legend {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

form#donation-form label {
    display: block;
    margin-bottom: 5px;
}

form#donation-form input[type="text"],
form#donation-form input[type="email"],
form#donation-form input[type="tel"],
form#donation-form select,
form#donation-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.donation-amounts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.donation-amounts button {
    flex: 1;
    color: white;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #08376b;
    cursor: pointer;
}

.donation-amounts button:last-child {
    margin-right: 0;
}

.donation-amounts button:hover,
.donation-amounts button:focus {
    background-color: #35c0ed;
    transition: background-color 0.3s, color 0.3s;
}

form#donation-form input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form#donation-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.donate-button button {
	flex: 1;
    color: white;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #08376b;
    cursor: pointer;
	
}

.donate-button button:hover,
.donate-button button:focus {
    background-color: #35c0ed;
    transition: background-color 0.3s, color 0.3s;
}

footer {
    background: #08376B;
    font-size: 12px;
    color: #99D8ED;
    text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #e7e7e7;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 1100px; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

.modal-content h2 {
	text-align: center;
	margin-bottom: 1.5rem;
}

.modal-content p {
	text-align: left;
	margin: 1rem;
}

.modal-close button {
	flex: 1;
    color: white;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #08376b;
    cursor: pointer;
	
}

.modal-close button:hover,
.modal-close button:focus {
    background-color: #35c0ed;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}


.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
     .content-section,
    .donation-form-section {
        padding: 1rem;
        margin: 1rem auto;
    }

    form#donation-form fieldset {
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
    }

    .payment-options {
        grid-column: 1 / -1;
    }

    .donation-amounts {
        flex-direction: column;
    }

    .donation-amounts button {
        width: 100%;
        margin-bottom: 1rem;
    }

    .donation-amounts button:last-child {
        margin-right: 0;
    }

    form#donation-form input[type="submit"] {
        width: 100%;
        margin-top: 1rem;
    }
    
    
    .hero-section {
        aspect-ratio: initial;
    }

    
    nav ul {
        flex-direction: column;
        background: #35C0ED;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        padding: 10px;
    }
}
